In [2]:

import warnings

warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import os

import talib

import gymnasium as gym


import collections
import argparse

import math
import random
import matplotlib
import matplotlib.pyplot as plt
from collections import namedtuple, deque
from itertools import count

import seaborn as sns
import pandas as pd

In [3]:
zd = pd.read_csv('Fileterd_Data').copy()

In [2]:
# df = pd.read_csv('auth.txt')

In [3]:

# chunk_size = 100000  # Adjust the chunk size according to your available memory
# chunks = []
# count = 0
# for chunk in pd.read_csv('auth.txt', delimiter='\t', chunksize=chunk_size):
#     # Process each chunk or store it in a list for later processing
#     chunks.append(chunk)
#     count += 1
#     if count == 5:
#         break

# # Concatenate the chunks into a single DataFrame if needed
# df = pd.concat(chunks)

In [2]:

chunk_size = 100000  # Adjust the chunk size according to your available memory
chunks = []
count = 0
for chunk in pd.read_csv('auth.txt', chunksize=chunk_size):
    # Process each chunk or store it in a list for later processing
    chunks.append(chunk)
    count += 1
    if count == 2000:
        break

# Concatenate the chunks into a single DataFrame if needed
df = pd.concat(chunks)

df = df.rename({'1':'time', 'ANONYMOUS LOGON@C586':'source', 'ANONYMOUS LOGON@C586.1':'dest', 'C1250':'source_pc', 'C586':'dest_pc', 'NTLM':'auth_type', 'Network':'logon_type', 'LogOn':'auth_orient'},axis=1)
df = df[1:]
df = df.set_index('time')

del chunk, chunks

In [3]:
df

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
time,,,,,,,,
1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success
1,C1035$@DOM1,C1035$@DOM1,C1035,C586,Kerberos,Network,LogOn,Success
1,C1035$@DOM1,C1035$@DOM1,C586,C586,?,Network,LogOff,Success
...,...,...,...,...,...,...,...,...
1044281,C586$@DOM1,C586$@DOM1,C586,C586,?,Network,LogOff,Success
1044281,C586$@DOM1,C586$@DOM1,C586,C586,Kerberos,Network,LogOn,Success
1044281,C599$@DOM1,C599$@DOM1,C1619,C523,Kerberos,Network,LogOn,Success
1044281,C599$@DOM1,C599$@DOM1,C523,C523,?,Network,LogOff,Success
1044281,C609$@DOM1,C609$@DOM1,C609,C528,Kerberos,Network,LogOn,Success

In [14]:
df.index

Int64Index([      1,       1,       1,       1,       1,       1,       1,
                  1,       1,       1,
            ...
            1044281, 1044281, 1044281, 1044281, 1044281, 1044281, 1044281,
            1044281, 1044281, 1044281],
           dtype='int64', name='time', length=199999999)

In [15]:
df.loc[150000:]

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
time,,,,,,,,
150000,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C8017,C457,NTLM,Network,LogOn,Success
150000,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5830,C586,NTLM,Network,LogOn,Success
150000,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
150000,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success
150000,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6480,C586,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...
1044281,C586$@DOM1,C586$@DOM1,C586,C586,?,Network,LogOff,Success
1044281,C586$@DOM1,C586$@DOM1,C586,C586,Kerberos,Network,LogOn,Success
1044281,C599$@DOM1,C599$@DOM1,C1619,C523,Kerberos,Network,LogOn,Success
1044281,C599$@DOM1,C599$@DOM1,C523,C523,?,Network,LogOff,Success
1044281,C609$@DOM1,C609$@DOM1,C609,C528,Kerberos,Network,LogOn,Success

In [ ]:
df.loc

In [6]:
del df

In [4]:
red = pd.read_csv('redteam.txt')
red = red.rename({'150885':'time', 'U620@DOM1':'user_domain', 'C17693':'source_pc', 'C1003':'dest_pc'},axis=1)
red = red.set_index('time')
red

        user_domain source_pc dest_pc
time
151036    U748@DOM1    C17693    C305
151648    U748@DOM1    C17693    C728
151993   U6115@DOM1    C17693   C1173
153792    U636@DOM1    C17693    C294
155219    U748@DOM1    C17693   C5693
...             ...       ...     ...
2552687   U655@DOM1    C17693    C828
2552687   U655@DOM1    C17693    C828
2552687   U655@DOM1    C17693    C828
2552687   U655@DOM1    C17693    C828
2557047   U737@DOM1    C19932    C108

[748 rows x 3 columns]

In [5]:
red

        user_domain source_pc dest_pc
time
151036    U748@DOM1    C17693    C305
151648    U748@DOM1    C17693    C728
151993   U6115@DOM1    C17693   C1173
153792    U636@DOM1    C17693    C294
155219    U748@DOM1    C17693   C5693
...             ...       ...     ...
2552687   U655@DOM1    C17693    C828
2552687   U655@DOM1    C17693    C828
2552687   U655@DOM1    C17693    C828
2552687   U655@DOM1    C17693    C828
2557047   U737@DOM1    C19932    C108

[748 rows x 3 columns]

In [25]:
target = red.head(300)

In [24]:
red.head(330)

       user_domain source_pc dest_pc
time
151036   U748@DOM1    C17693    C305
151648   U748@DOM1    C17693    C728
151993  U6115@DOM1    C17693   C1173
153792   U636@DOM1    C17693    C294
155219   U748@DOM1    C17693   C5693
...            ...       ...     ...
830548  U1653@DOM1    C22409    C754
830548  U1653@DOM1    C22409    C754
830550  U1653@DOM1    C22409    C754
830578  U1653@DOM1    C22409    C754
830578  U1653@DOM1    C22409    C754

[330 rows x 3 columns]

In [101]:
red[50:250]

         user_domain source_pc dest_pc
time
725589    U1653@DOM1    C17693   C2669
725983     U293@DOM1    C17693   C3153
726008    U8946@DOM1    C17693   C1610
726057     U293@DOM1    C17693   C3153
726137  U10379@C3521    C17693   C3521
...              ...       ...     ...
767289    U7394@DOM1    C17693    C492
767300    U7394@DOM1    C17693   C1797
767320    U7394@DOM1    C17693   C1797
767445    U4353@DOM1    C17693    C801
767813      U66@DOM1    C17693   C2944

[200 rows x 3 columns]

In [5]:
target = red[50:250]

In [79]:
red.head(300)

       user_domain source_pc dest_pc
time
151036   U748@DOM1    C17693    C305
151648   U748@DOM1    C17693    C728
151993  U6115@DOM1    C17693   C1173
153792   U636@DOM1    C17693    C294
155219   U748@DOM1    C17693   C5693
...            ...       ...     ...
770950    U66@DOM1    C17693    C742
771133  U7375@DOM1    C17693   C1626
771134  U4448@DOM1    C17693   C1555
771340  U9763@DOM1    C17693    C353
771380  U9763@DOM1    C17693   C1089

[300 rows x 3 columns]

In [102]:
df.loc[705000:775000]

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
time,,,,,,,,
705000,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success
705000,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C10421,C586,NTLM,Network,LogOn,Success
705000,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C11677,C586,NTLM,Network,LogOn,Success
705000,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C14326,C586,NTLM,Network,LogOn,Success
705000,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C178,C586,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...
775000,U8515@DOM1,U8515@DOM1,C18289,C528,Kerberos,Network,LogOn,Success
775000,U8515@DOM1,U8515@DOM1,C528,C528,?,Network,LogOff,Success
775000,U8695@DOM1,U8695@DOM1,C1015,C1015,?,Network,LogOff,Success
775000,U9556@DOM1,U9556@DOM1,C20151,C1065,Kerberos,Network,LogOn,Success
775000,U9556@DOM1,U9556@DOM1,C20151,C612,NTLM,Network,LogOn,Success

In [6]:
zd

,Unnamed: 0,Time Stamp,Source User @ Domain,Destination User @ Domain,Source Computer,Source Destination,Authentication Type,Logon Type,Auth Orientation,Success/Failure
0,137649533,715589,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success
1,137649534,715589,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success
2,137649535,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
3,137649536,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success
4,137649537,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6931,C586,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...,...,...
14863570,152513103,777813,U8857@DOM1,U8857@DOM1,C528,C528,?,Network,LogOff,Success
14863571,152513104,777813,U953@DOM1,U953@DOM1,C803,C1065,Kerberos,Network,LogOn,Success
14863572,152513105,777813,U9861@DOM1,U9861@DOM1,C457,C457,?,Network,LogOff,Success
14863573,152513106,777813,U996@DOM1,U996@DOM1,C10,C10,?,Network,LogOff,Success
14863574,152513107,777813,U996@DOM1,U996@DOM1,C3173,C3173,?,Network,LogOff,Success

In [105]:
new = df.loc[target.index[0]:target.index[-1]]
new

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
time,,,,,,,,
725589,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success
725589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C3745,C586,NTLM,Network,LogOn,Success
725589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6363,C586,NTLM,Network,LogOn,Success
725589,ANONYMOUS LOGON@C612,ANONYMOUS LOGON@C612,C8113,C612,NTLM,Network,LogOn,Success
725589,ANONYMOUS LOGON@C625,ANONYMOUS LOGON@C625,C625,C625,?,Network,LogOff,Success
...,...,...,...,...,...,...,...,...
767813,U9556@DOM1,U9556@DOM1,C457,C457,?,Network,LogOff,Success
767813,U9556@DOM1,U9556@DOM1,C586,C586,?,Network,LogOff,Success
767813,U959@DOM1,U959@DOM1,C1065,C1065,?,Network,LogOff,Success
767813,U9681@DOM1,U9681@DOM1,C1618,C1618,?,?,TGT,Success
767813,U9798@DOM1,U9798@DOM1,C1065,C1065,?,Network,LogOff,Success

In [113]:
new = df.loc[(target.index[0] - 10000) : (target.index[-1] + 10000)]

In [114]:
new

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
time,,,,,,,,
715589,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success
715589,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success
715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success
715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6931,C586,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...
777813,U8857@DOM1,U8857@DOM1,C528,C528,?,Network,LogOff,Success
777813,U953@DOM1,U953@DOM1,C803,C1065,Kerberos,Network,LogOn,Success
777813,U9861@DOM1,U9861@DOM1,C457,C457,?,Network,LogOff,Success
777813,U996@DOM1,U996@DOM1,C10,C10,?,Network,LogOff,Success
777813,U996@DOM1,U996@DOM1,C3173,C3173,?,Network,LogOff,Success

In [112]:
del new

In [9]:
df

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
time,,,,,,,,
1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success
1,C1035$@DOM1,C1035$@DOM1,C1035,C586,Kerberos,Network,LogOn,Success
1,C1035$@DOM1,C1035$@DOM1,C586,C586,?,Network,LogOff,Success
...,...,...,...,...,...,...,...,...
298697,U94@DOM1,U2@DOM1,C1679,C1679,?,?,AuthMap,Success
298697,U94@DOM1,U94@DOM1,C1679,C1679,?,?,TGS,Success
298697,U94@DOM1,U94@DOM1,C1679,C1679,?,?,TGT,Success
298697,U94@DOM1,U94@DOM1,C1679,C1679,Negotiate,Service,LogOn,Success
298697,U94@DOM1,U94@DOM1,C7,C7,?,Network,LogOff,Success

In [6]:
target

         user_domain source_pc dest_pc
time
725589    U1653@DOM1    C17693   C2669
725983     U293@DOM1    C17693   C3153
726008    U8946@DOM1    C17693   C1610
726057     U293@DOM1    C17693   C3153
726137  U10379@C3521    C17693   C3521
...              ...       ...     ...
767289    U7394@DOM1    C17693    C492
767300    U7394@DOM1    C17693   C1797
767320    U7394@DOM1    C17693   C1797
767445    U4353@DOM1    C17693    C801
767813      U66@DOM1    C17693   C2944

[200 rows x 3 columns]

In [8]:
zd

,Unnamed: 0,Time Stamp,Source User @ Domain,Destination User @ Domain,Source Computer,Source Destination,Authentication Type,Logon Type,Auth Orientation,Success/Failure
0,137649533,715589,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success
1,137649534,715589,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success
2,137649535,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
3,137649536,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success
4,137649537,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6931,C586,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...,...,...
14863570,152513103,777813,U8857@DOM1,U8857@DOM1,C528,C528,?,Network,LogOff,Success
14863571,152513104,777813,U953@DOM1,U953@DOM1,C803,C1065,Kerberos,Network,LogOn,Success
14863572,152513105,777813,U9861@DOM1,U9861@DOM1,C457,C457,?,Network,LogOff,Success
14863573,152513106,777813,U996@DOM1,U996@DOM1,C10,C10,?,Network,LogOff,Success
14863574,152513107,777813,U996@DOM1,U996@DOM1,C3173,C3173,?,Network,LogOff,Success

In [9]:
target.values[0]

array(['U1653@DOM1', 'C17693', 'C2669'], dtype=object)

In [7]:
target_array = []
for i in target.values:
    result = " ".join(i)
    target_array.append(result)

In [8]:
target_array

['U1653@DOM1 C17693 C2669',
 'U293@DOM1 C17693 C3153',
 'U8946@DOM1 C17693 C1610',
 'U293@DOM1 C17693 C3153',
 'U10379@C3521 C17693 C3521',
 'U293@DOM1 C17693 C3153',
 'U8946@DOM1 C17693 C1124',
 'U293@DOM1 C17693 C3153',
 'U8946@DOM1 C17693 C3199',
 'U293@DOM1 C17693 C3153',
 'U8946@DOM1 C17693 C11727',
 'U8601@DOM1 C17693 C754',
 'U212@DOM1 C17693 C126',
 'U212@DOM1 C17693 C126',
 'U212@DOM1 C17693 C126',
 'U8946@DOM1 C17693 C9945',
 'U8946@DOM1 C17693 C9945',
 'U8946@DOM1 C17693 C9945',
 'U4978@DOM1 C17693 C1448',
 'U8946@DOM1 C17693 C9945',
 'U3905@DOM1 C17693 C9945',
 'U995@DOM1 C17693 C1014',
 'U8601@DOM1 C17693 C20819',
 'U8601@DOM1 C17693 C20819',
 'U8601@DOM1 C17693 C18626',
 'U8601@DOM1 C17693 C18626',
 'U288@DOM1 C17693 C1222',
 'U2837@DOM1 C17693 C89',
 'U2837@DOM1 C17693 C1484',
 'U2837@DOM1 C17693 C8490',
 'U349@DOM1 C17693 C3601',
 'U2837@DOM1 C17693 C1784',
 'U2837@DOM1 C17693 C1784',
 'U2837@DOM1 C17693 C1784',
 'U2837@DOM1 C17693 C2519',
 'U8946@DOM1 C17693 C11194',
 'U2837@DOM1 C17693 C395',
 'U8946@DOM1 C17693 C10577',
 'U8601@DOM1 C17693 C18872',
 'U293@DOM1 C17693 C2597',
 'U293@DOM1 C17693 C2609',
 'U250@DOM1 C17693 C2849',
 'U293@DOM1 C17693 C3422',
 'U293@DOM1 C17693 C3153',
 'U293@DOM1 C17693 C42',
 'U1600@DOM1 C17693 C92',
 'U1600@DOM1 C17693 C16088',
 'U1600@DOM1 C17693 C92',
 'U349@DOM1 C17693 C886',
 'U349@DOM1 C17693 C886',
 'U8601@DOM1 C17693 C10817',
 'U4353@DOM1 C17693 C15232',
 'U349@DOM1 C17693 C801',
 'U4856@DOM1 C17693 C1015',
 'U5087@DOM1 C17693 C1448',
 'U5087@DOM1 C17693 C359',
 'U5087@DOM1 C17693 C21963',
 'U5087@DOM1 C17693 C359',
 'U5087@DOM1 C17693 C21963',
 'U5087@DOM1 C17693 C21963',
 'U5087@DOM1 C17693 C1268',
 'U5087@DOM1 C17693 C353',
 'U9763@DOM1 C17693 C353',
 'U9763@DOM1 C17693 C21814',
 'U5087@DOM1 C17693 C21814',
 'U795@DOM1 C17693 C10005',
 'U5087@DOM1 C17693 C353',
 'U9947@DOM1 C17693 C20966',
 'U9947@DOM1 C17693 C853',
 'U9947@DOM1 C17693 C853',
 'U9947@DOM1 C17693 C853',
 'U9947@DOM1 C17693 C923',
 'U882@DOM1 C17693 C11039',
 'U882@DOM1 C17693 C1616',
 'U8777@C583 C17693 C583',
 'U882@DOM1 C17693 C1616',
 'U9947@DOM1 C17693 C346',
 'U9947@DOM1 C17693 C20203',
 'U1450@DOM1 C17693 C12448',
 'U9947@DOM1 C17693 C20203',
 'U1450@DOM1 C17693 C12448',
 'U8777@C583 C17693 C583',
 'U8777@C1500 C17693 C1500',
 'U1450@DOM1 C17693 C12448',
 'U9947@DOM1 C17693 C346',
 'U9947@DOM1 C17693 C1479',
 'U8777@C3388 C17693 C3388',
 'U1450@DOM1 C17693 C12448',
 'U374@DOM1 C17693 C1461',
 'U1450@DOM1 C17693 C1119',
 'U2575@DOM1 C17693 C19156',
 'U2575@DOM1 C17693 C19156',
 'U1450@DOM1 C17693 C18113',
 'U374@DOM1 C17693 C1461',
 'U1450@DOM1 C17693 C18113',
 'U9947@DOM1 C17693 C19803',
 'U9947@DOM1 C17693 C17425',
 'U9947@DOM1 C17693 C19803',
 'U9947@DOM1 C17693 C19803',
 'U3718@DOM1 C17693 C9692',
 'U9947@DOM1 C17693 C7131',
 'U2575@DOM1 C17693 C8172',
 'U342@DOM1 C17693 C7503',
 'U342@DOM1 C17693 C7503',
 'U737@DOM1 C17693 C7597',
 'U737@DOM1 C17693 C2578',
 'U6572@DOM1 C17693 C90',
 'U737@DOM1 C17693 C21814',
 'U2575@DOM1 C17693 C1477',
 'U9763@DOM1 C17693 C21814',
 'U162@DOM1 C17693 C4845',
 'U162@DOM1 C17693 C3292',
 'U2575@DOM1 C17693 C7597',
 'U314@DOM1 C17693 C2914',
 'U737@DOM1 C17693 C19356',
 'U162@DOM1 C17693 C798',
 'U737@DOM1 C17693 C302',
 'U737@DOM1 C17693 C1125',
 'U737@DOM1 C17693 C3437',
 'U642@DOM1 C17693 C2648',
 'U642@DOM1 C17693 C2648',
 'U737@DOM1 C17693 C6513',
 'U737@DOM1 C17693 C15197',
 'U3635@DOM1 C17693 C17806',
 'U1653@DOM1 C17693 C395',
 'U1653@DOM1 C17693 C754',
 'U1653@DOM1 C17693 C706',
 'U1653@DOM1 C17693 C231',
 'U1653@DOM1 C17693 C2669',
 'U3635@DOM1 C17693 C16467',
 'U342@DOM1 C17693 C6487',
 'U342@DOM1 C17693 C6487',
 'U342@DOM1 C17693 C113',
 'U3635@DOM1 C17693 C2816',
 'U342@DOM1 C17693 C458',
 'U3635@DOM1 C17693 C21664',
 'U3635@DOM1 C17693 C2085',
 'U342@DOM1 C17693 C3586',
 'U3635@DOM1 C17693 C19444',
 'U3635@DOM1 C17693 C917',
 'U3635@DOM1 C17693 C917',
 'U3635@DOM1 C17693 C12682',
 'U3635@DOM1 C17693 C12682',
 'U3635@DOM1 C17693 C2091',
 'U3635@DOM1 C17693 C1506',
 'U3635@DOM1 C17693 C12512',
 'U293@DOM1 C17693 C231',
 'U293@DOM1 C17693 C706',
 'U293@DOM1 C17693 C882',
 'U1480@DOM1 C17693 C881',
 'U1480@DOM1 C17693 C2388',
 'U293@DOM1 C17693 C46',
 'U293@DOM1 C17693 C883',
 'U1480@DOM1 C17693 C1191',
 'U1480@DOM1 C17693 C5653',
 'U293@DOM1 C17693 C633',
 'U1480@DOM1 C17693 C1183',
 'U293@DOM1 C17693 C2844',
 'U1480@DOM1 C17693 C1776',
 'U1480@DOM1 C17693 C464',
 'U293@DOM1 C17693 C5453',
 'U293@DOM1 C17693 C4161',
 'U293@DOM1 C17693 C513',
 'U1480@DOM1 C17693 C1',
 'U1480@DOM1 C17693 C1776',
 'U293@DOM1 C17693 C1215',
 'U293@DOM1 C17693 C2849',
 'U1480@DOM1 C17693 C2012',
 'U293@DOM1 C17693 C3455',
 'U293@DOM1 C17693 C4159',
 'U162@DOM1 C17693 C1006',
 'U162@DOM1 C17693 C92',
 'U293@DOM1 C17693 C801',
 'U162@DOM1 C17693 C1022',
 'U314@DOM1 C17693 C2914',
 'U293@DOM1 C17693 C11039',
 'U293@DOM1 C17693 C1737',
 'U293@DOM1 C17693 C1710',
 'U293@DOM1 C17693 C231',
 'U293@DOM1 C17693 C395',
 'U162@DOM1 C17693 C3435',
 'U162@DOM1 C17693 C3435',
 'U66@DOM1 C17693 C3435',
 'U66@DOM1 C17693 C61',
 'U1164@DOM1 C17693 C2091',
 'U66@DOM1 C17693 C307',
 'U66@DOM1 C17693 C3699',
 'U2837@DOM1 C17693 C395',
 'U2837@DOM1 C17693 C2519',
 'U2837@DOM1 C17693 C1784',
 'U2837@DOM1 C17693 C1784',
 'U2837@DOM1 C17693 C8490',
 'U2837@DOM1 C17693 C1484',
 'U2837@DOM1 C17693 C89',
 'U66@DOM1 C17693 C3755',
 'U7394@DOM1 C17693 C492',
 'U7394@DOM1 C17693 C1797',
 'U7394@DOM1 C17693 C1797',
 'U4353@DOM1 C17693 C801',
 'U66@DOM1 C17693 C2944']

In [116]:
del target_array

In [40]:
df

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
time,,,,,,,,
1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success
1,C1035$@DOM1,C1035$@DOM1,C1035,C586,Kerberos,Network,LogOn,Success
1,C1035$@DOM1,C1035$@DOM1,C586,C586,?,Network,LogOff,Success
...,...,...,...,...,...,...,...,...
1044281,C586$@DOM1,C586$@DOM1,C586,C586,?,Network,LogOff,Success
1044281,C586$@DOM1,C586$@DOM1,C586,C586,Kerberos,Network,LogOn,Success
1044281,C599$@DOM1,C599$@DOM1,C1619,C523,Kerberos,Network,LogOn,Success
1044281,C599$@DOM1,C599$@DOM1,C523,C523,?,Network,LogOff,Success
1044281,C609$@DOM1,C609$@DOM1,C609,C528,Kerberos,Network,LogOn,Success

In [65]:
del new

In [9]:
from numba import jit

In [10]:
@jit
def get_loop(input_array):
    main_array = []
    for i in input_array:
        result = " ".join(i)
        main_array.append(result)
    return main_array

In [11]:

new = zd.copy()

In [12]:
new.columns

Index(['Unnamed: 0', 'Time Stamp', 'Source User @ Domain',
       'Destination User @ Domain', 'Source Computer', 'Source Destination',
       'Authentication Type', 'Logon Type', 'Auth Orientation',
       'Success/Failure'],
      dtype='object')

In [13]:
df = df.rename({'1':'time', 'ANONYMOUS LOGON@C586':'source', 'ANONYMOUS LOGON@C586.1':'dest', 'C1250':'source_pc', 'C586':'dest_pc', 'NTLM':'auth_type', 'Network':'logon_type', 'LogOn':'auth_orient'},axis=1)

NameError: name 'df' is not defined

In [14]:
new = new.rename({
    'Source User @ Domain': 'Source_Dome', 'Destination User @ Domain': 'Dest_Dome', 'Source Computer':'Source_PC', 'Source Destination':'Destination_PC', 
    'Authentication Type':'auth_type', 'Logon Type':'logon_type', 'Success/Failure':'result',
},axis=1)

In [15]:
new

,Unnamed: 0,Time Stamp,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result
0,137649533,715589,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success
1,137649534,715589,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success
2,137649535,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
3,137649536,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success
4,137649537,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6931,C586,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...,...,...
14863570,152513103,777813,U8857@DOM1,U8857@DOM1,C528,C528,?,Network,LogOff,Success
14863571,152513104,777813,U953@DOM1,U953@DOM1,C803,C1065,Kerberos,Network,LogOn,Success
14863572,152513105,777813,U9861@DOM1,U9861@DOM1,C457,C457,?,Network,LogOff,Success
14863573,152513106,777813,U996@DOM1,U996@DOM1,C10,C10,?,Network,LogOff,Success
14863574,152513107,777813,U996@DOM1,U996@DOM1,C3173,C3173,?,Network,LogOff,Success

In [22]:
new[['Source_Dome', 'Source_PC', 'Destination_PC']].values[0]

array(['ANONYMOUS LOGON@C457', 'C457', 'C457'], dtype=object)

In [16]:
main = get_loop(new[['Source_Dome', 'Source_PC', 'Destination_PC']].values)

In [23]:
main = get_loop(new[['source', 'source_pc', 'dest_pc']].values)

KeyError: "None of [Index(['source', 'source_pc', 'dest_pc'], dtype='object')] are in the [columns]"

In [17]:
new['test'] = main

In [18]:
new['target'] = new['test'].apply(lambda x: 1 if x in target_array else 0)

In [19]:
new

,Unnamed: 0,Time Stamp,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result,test,target
0,137649533,715589,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,ANONYMOUS LOGON@C457 C457 C457,0
1,137649534,715589,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,ANONYMOUS LOGON@C467 C467 C467,0
2,137649535,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,ANONYMOUS LOGON@C586 C586 C586,0
3,137649536,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C586 C5995 C586,0
4,137649537,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6931,C586,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C586 C6931 C586,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14863570,152513103,777813,U8857@DOM1,U8857@DOM1,C528,C528,?,Network,LogOff,Success,U8857@DOM1 C528 C528,0
14863571,152513104,777813,U953@DOM1,U953@DOM1,C803,C1065,Kerberos,Network,LogOn,Success,U953@DOM1 C803 C1065,0
14863572,152513105,777813,U9861@DOM1,U9861@DOM1,C457,C457,?,Network,LogOff,Success,U9861@DOM1 C457 C457,0
14863573,152513106,777813,U996@DOM1,U996@DOM1,C10,C10,?,Network,LogOff,Success,U996@DOM1 C10 C10,0
14863574,152513107,777813,U996@DOM1,U996@DOM1,C3173,C3173,?,Network,LogOff,Success,U996@DOM1 C3173 C3173,0

In [20]:
new = new.set_index('Time Stamp')
new

,Unnamed: 0,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result,test,target
Time Stamp,,,,,,,,,,,
715589,137649533,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,ANONYMOUS LOGON@C457 C457 C457,0
715589,137649534,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,ANONYMOUS LOGON@C467 C467 C467,0
715589,137649535,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,ANONYMOUS LOGON@C586 C586 C586,0
715589,137649536,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C586 C5995 C586,0
715589,137649537,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6931,C586,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C586 C6931 C586,0
...,...,...,...,...,...,...,...,...,...,...,...
777813,152513103,U8857@DOM1,U8857@DOM1,C528,C528,?,Network,LogOff,Success,U8857@DOM1 C528 C528,0
777813,152513104,U953@DOM1,U953@DOM1,C803,C1065,Kerberos,Network,LogOn,Success,U953@DOM1 C803 C1065,0
777813,152513105,U9861@DOM1,U9861@DOM1,C457,C457,?,Network,LogOff,Success,U9861@DOM1 C457 C457,0
777813,152513106,U996@DOM1,U996@DOM1,C10,C10,?,Network,LogOff,Success,U996@DOM1 C10 C10,0
777813,152513107,U996@DOM1,U996@DOM1,C3173,C3173,?,Network,LogOff,Success,U996@DOM1 C3173 C3173,0

In [22]:
new.to_csv('Full_Data.csv')

In [23]:
temp = pd.read_csv('Full_Data.csv')

In [24]:
temp.columns

Index(['Time Stamp', 'Unnamed: 0', 'Source_Dome', 'Dest_Dome', 'Source_PC',
       'Destination_PC', 'auth_type', 'logon_type', 'Auth Orientation',
       'result', 'test', 'target'],
      dtype='object')

In [25]:
temp = temp.drop(['Unnamed: 0','test'],axis=1)
temp

,Time Stamp,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result,target
0,715589,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,0
1,715589,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,0
2,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,0
3,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success,0
4,715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6931,C586,NTLM,Network,LogOn,Success,0
...,...,...,...,...,...,...,...,...,...,...
14863570,777813,U8857@DOM1,U8857@DOM1,C528,C528,?,Network,LogOff,Success,0
14863571,777813,U953@DOM1,U953@DOM1,C803,C1065,Kerberos,Network,LogOn,Success,0
14863572,777813,U9861@DOM1,U9861@DOM1,C457,C457,?,Network,LogOff,Success,0
14863573,777813,U996@DOM1,U996@DOM1,C10,C10,?,Network,LogOff,Success,0
14863574,777813,U996@DOM1,U996@DOM1,C3173,C3173,?,Network,LogOff,Success,0

In [26]:
temp['result'] = np.where(temp['result']=='Success', 1, 0)

In [29]:
temp = temp.set_index('Time Stamp')

In [31]:
temp['Auth Orientation'].value_counts()

LogOff          6258102
LogOn           6212477
TGS             1706660
TGT              502946
AuthMap          178085
ScreenLock         2713
ScreenUnlock       2592
Name: Auth Orientation, dtype: int64

In [33]:
from sklearn.preprocessing import OneHotEncoder

In [34]:
enc = OneHotEncoder()

In [35]:
train = temp.drop(['target'],axis=1)

In [32]:
temp

,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result,target
Time Stamp,,,,,,,,,
715589,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,1,0
715589,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,1,0
715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,1,0
715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,1,0
715589,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6931,C586,NTLM,Network,LogOn,1,0
...,...,...,...,...,...,...,...,...,...
777813,U8857@DOM1,U8857@DOM1,C528,C528,?,Network,LogOff,1,0
777813,U953@DOM1,U953@DOM1,C803,C1065,Kerberos,Network,LogOn,1,0
777813,U9861@DOM1,U9861@DOM1,C457,C457,?,Network,LogOff,1,0
777813,U996@DOM1,U996@DOM1,C10,C10,?,Network,LogOff,1,0
777813,U996@DOM1,U996@DOM1,C3173,C3173,?,Network,LogOff,1,0

In [27]:
temp['result']

0           1
1           1
2           1
3           1
4           1
           ..
14863570    1
14863571    1
14863572    1
14863573    1
14863574    1
Name: result, Length: 14863575, dtype: int32

In [21]:
new.loc[715599]

,Unnamed: 0,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result,test,target
Time Stamp,,,,,,,,,,,
715599,137651563,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,ANONYMOUS LOGON@C2106 C2106 C2106,0
715599,137651564,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C16455,C457,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C457 C16455 C457,0
715599,137651565,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C3637,C457,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C457 C3637 C457,0
715599,137651566,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,ANONYMOUS LOGON@C457 C457 C457,0
715599,137651567,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C3252,C529,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C529 C3252 C529,0
...,...,...,...,...,...,...,...,...,...,...,...
715599,137651747,U8@DOM1,U8@DOM1,C62,C36,Kerberos,Network,LogOn,Success,U8@DOM1 C62 C36,0
715599,137651748,U8@DOM1,U8@DOM1,C62,C464,Kerberos,Network,LogOn,Success,U8@DOM1 C62 C464,0
715599,137651749,U94@DOM1,U94@DOM1,C7,C7,?,Network,LogOff,Success,U94@DOM1 C7 C7,0
715599,137651750,U94@DOM1,U94@DOM1,C7,C7,NTLM,Network,LogOn,Success,U94@DOM1 C7 C7,0
715599,137651751,U9556@DOM1,U9556@DOM1,C20151,C457,Kerberos,Network,LogOn,Success,U9556@DOM1 C20151 C457,0

In [40]:
new.loc[715589 + 10]

,Unnamed: 0,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result,test,target
Time Stamp,,,,,,,,,,,
715599,137651563,ANONYMOUS LOGON@C2106,ANONYMOUS LOGON@C2106,C2106,C2106,?,Network,LogOff,Success,ANONYMOUS LOGON@C2106 C2106 C2106,0
715599,137651564,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C16455,C457,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C457 C16455 C457,0
715599,137651565,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C3637,C457,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C457 C3637 C457,0
715599,137651566,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,ANONYMOUS LOGON@C457 C457 C457,0
715599,137651567,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C3252,C529,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C529 C3252 C529,0
...,...,...,...,...,...,...,...,...,...,...,...
715599,137651747,U8@DOM1,U8@DOM1,C62,C36,Kerberos,Network,LogOn,Success,U8@DOM1 C62 C36,0
715599,137651748,U8@DOM1,U8@DOM1,C62,C464,Kerberos,Network,LogOn,Success,U8@DOM1 C62 C464,0
715599,137651749,U94@DOM1,U94@DOM1,C7,C7,?,Network,LogOff,Success,U94@DOM1 C7 C7,0
715599,137651750,U94@DOM1,U94@DOM1,C7,C7,NTLM,Network,LogOn,Success,U94@DOM1 C7 C7,0
715599,137651751,U9556@DOM1,U9556@DOM1,C20151,C457,Kerberos,Network,LogOn,Success,U9556@DOM1 C20151 C457,0

In [46]:
new['Source_PC']

Time Stamp
715589     C457
715589     C467
715589     C586
715589    C5995
715589    C6931
          ...
777813     C528
777813     C803
777813     C457
777813      C10
777813    C3173
Name: Source_PC, Length: 14863575, dtype: object

In [47]:
new[
    new['Source_PC'] == 'C17693'
]

,Unnamed: 0,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result,test,target
Time Stamp,,,,,,,,,,,
721806,139305076,U10018@DOM1,U10018@DOM1,C17693,C10171,NTLM,Network,LogOn,Fail,U10018@DOM1 C17693 C10171,0
724055,139943539,U8168@C1654,U8168@C1654,C17693,C1654,NTLM,Network,LogOn,Success,U8168@C1654 C17693 C1654,0
724161,139973223,U8168@C4747,U8168@C4747,C17693,C4747,NTLM,Network,LogOn,Success,U8168@C4747 C17693 C4747,0
725274,140295865,U8601@DOM1,U8601@DOM1,C17693,C1893,NTLM,Network,LogOn,Success,U8601@DOM1 C17693 C1893,0
725488,140356557,U1653@DOM1,U1653@DOM1,C17693,C395,NTLM,Network,LogOn,Success,U1653@DOM1 C17693 C395,1
...,...,...,...,...,...,...,...,...,...,...,...
774214,151869657,U66@DOM1,U66@DOM1,C17693,C1966,NTLM,Network,LogOn,Success,U66@DOM1 C17693 C1966,0
774246,151875330,U66@DOM1,U66@DOM1,C17693,C19646,NTLM,Network,LogOn,Fail,U66@DOM1 C17693 C19646,0
774452,151916647,U66@DOM1,U66@DOM1,C17693,C2388,NTLM,Network,LogOn,Success,U66@DOM1 C17693 C2388,0
774492,151924455,U162@DOM1,U162@DOM1,C17693,C2388,NTLM,Network,LogOn,Success,U162@DOM1 C17693 C2388,0
774514,151929668,U218@DOM1,U218@DOM1,C17693,C2388,NTLM,Network,LogOn,Success,U218@DOM1 C17693 C2388,0

In [48]:
new[ 
    new['target'] == 1
]

,Unnamed: 0,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result,test,target
Time Stamp,,,,,,,,,,,
725488,140356557,U1653@DOM1,U1653@DOM1,C17693,C395,NTLM,Network,LogOn,Success,U1653@DOM1 C17693 C395,1
725589,140384250,U1653@DOM1,U1653@DOM1,C17693,C2669,NTLM,Network,LogOn,Success,U1653@DOM1 C17693 C2669,1
725983,140495442,U293@DOM1,U293@DOM1,C17693,C3153,NTLM,Network,LogOn,Success,U293@DOM1 C17693 C3153,1
726008,140503428,U8946@DOM1,U8946@DOM1,C17693,C1610,NTLM,Network,LogOn,Success,U8946@DOM1 C17693 C1610,1
726057,140516533,U293@DOM1,U293@DOM1,C17693,C3153,NTLM,Network,LogOn,Success,U293@DOM1 C17693 C3153,1
...,...,...,...,...,...,...,...,...,...,...,...
767320,150651884,U7394@DOM1,U7394@DOM1,C17693,C1797,NTLM,Network,LogOn,Success,U7394@DOM1 C17693 C1797,1
767445,150675898,U4353@DOM1,U4353@DOM1,C17693,C801,NTLM,Network,LogOn,Success,U4353@DOM1 C17693 C801,1
767813,150743322,U66@DOM1,U66@DOM1,C17693,C2944,NTLM,Network,LogOn,Success,U66@DOM1 C17693 C2944,1
770138,151149180,U737@DOM1,U737@DOM1,C17693,C7597,NTLM,Network,LogOn,Success,U737@DOM1 C17693 C7597,1
771340,151371104,U9763@DOM1,U9763@DOM1,C17693,C353,NTLM,Network,LogOn,Success,U9763@DOM1 C17693 C353,1

In [49]:
new[
    new['logon_type'] == 'Network'
]

,Unnamed: 0,Source_Dome,Dest_Dome,Source_PC,Destination_PC,auth_type,logon_type,Auth Orientation,result,test,target
Time Stamp,,,,,,,,,,,
715589,137649533,ANONYMOUS LOGON@C457,ANONYMOUS LOGON@C457,C457,C457,?,Network,LogOff,Success,ANONYMOUS LOGON@C457 C457 C457,0
715589,137649534,ANONYMOUS LOGON@C467,ANONYMOUS LOGON@C467,C467,C467,?,Network,LogOff,Success,ANONYMOUS LOGON@C467 C467 C467,0
715589,137649535,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success,ANONYMOUS LOGON@C586 C586 C586,0
715589,137649536,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C5995,C586,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C586 C5995 C586,0
715589,137649537,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C6931,C586,NTLM,Network,LogOn,Success,ANONYMOUS LOGON@C586 C6931 C586,0
...,...,...,...,...,...,...,...,...,...,...,...
777813,152513103,U8857@DOM1,U8857@DOM1,C528,C528,?,Network,LogOff,Success,U8857@DOM1 C528 C528,0
777813,152513104,U953@DOM1,U953@DOM1,C803,C1065,Kerberos,Network,LogOn,Success,U953@DOM1 C803 C1065,0
777813,152513105,U9861@DOM1,U9861@DOM1,C457,C457,?,Network,LogOff,Success,U9861@DOM1 C457 C457,0
777813,152513106,U996@DOM1,U996@DOM1,C10,C10,?,Network,LogOff,Success,U996@DOM1 C10 C10,0
777813,152513107,U996@DOM1,U996@DOM1,C3173,C3173,?,Network,LogOff,Success,U996@DOM1 C3173 C3173,0

In [45]:
new[ 
    new['target'] == 1
]['Source_PC'].value_counts()

C17693    205
Name: Source_PC, dtype: int64

In [53]:
new[ 
    new['target'] == 1
]['Destination_PC'].value_counts()

C3153    6
C1448    6
C395     5
C9945    5
C1784    5
        ..
C1477    1
C90      1
C2578    1
C3601    1
C2944    1
Name: Destination_PC, Length: 127, dtype: int64

In [54]:
new[ 
    new['target'] == 0
]['Destination_PC'].value_counts()

C586      1832959
C612      1194362
C529      1160703
C457      1100756
C625      1057538
           ...
C21760          1
C21330          1
C10193          1
C10536          1
C5832           1
Name: Destination_PC, Length: 11606, dtype: int64

In [51]:
new[ 
    new['target'] == 1
]['auth_type'].value_counts()

NTLM    205
Name: auth_type, dtype: int64

In [52]:
new[ 
    new['target'] == 0
]['auth_type'].value_counts()

?                                         8652630
Kerberos                                  5088733
NTLM                                       773921
Negotiate                                  325672
MICROSOFT_AUTHENTICATION_PACKAGE_V1_0       19778
MICROSOFT_AUTHENTICATION_PACKAGE_V1_          730
MICROSOFT_AUTHENTICATION_PACKAG               583
MICROSOFT_AUTHENTICATION_PACKAGE_V1           402
MICROSOFT_AUTHENTICATION_PACKAGE              338
MICROSOFT_AUTHENTICATION_PACKAGE_             270
MICROSOFT_AUTHENTICATION_PACKA                104
MICROSOFT_AUTHENTICATION_PACKAGE_V             91
NETWARE_AUTHENTICATION_PACKAGE_V1_0            33
MICROSOFT_AUTHENTICATION_PACK                  30
MICROSOFT_AUTHENTICA                           16
MICROSOFT_AUTHENTICATION_PAC                   12
MICROSOFT_AUTHENTICATION_PA                    11
Wave                                            5
CygwinLsa                                       5
MICROSOFT_AUTHENTICATI                          3
Setuid                                          2
ACRONIS_RELOGON_AUTHENTICATION_PACKAGE          1
Name: auth_type, dtype: int64

In [50]:
new[ 
    new['target'] == 1
]['Dest_Dome'].value_counts()

U293@DOM1       30
U2837@DOM1      16
U9947@DOM1      15
U5087@DOM1      15
U3635@DOM1      13
U8946@DOM1      10
U1480@DOM1      10
U162@DOM1        8
U737@DOM1        8
U342@DOM1        7
U1450@DOM1       7
U1653@DOM1       7
U8601@DOM1       7
U66@DOM1         6
U2575@DOM1       5
U349@DOM1        4
U882@DOM1        3
U212@DOM1        3
U7394@DOM1       3
U1600@DOM1       3
U374@DOM1        2
U8777@C583       2
U4353@DOM1       2
U9763@DOM1       2
U642@DOM1        2
U314@DOM1        2
U6572@DOM1       1
U1164@DOM1       1
U10379@C3521     1
U4856@DOM1       1
U288@DOM1        1
U795@DOM1        1
U3905@DOM1       1
U3718@DOM1       1
U250@DOM1        1
U8777@C3388      1
U8777@C1500      1
U995@DOM1        1
U4978@DOM1       1
Name: Dest_Dome, dtype: int64

In [29]:
new.index

Int64Index([715589, 715589, 715589, 715589, 715589, 715589, 715589, 715589,
            715589, 715589,
            ...
            777813, 777813, 777813, 777813, 777813, 777813, 777813, 777813,
            777813, 777813],
           dtype='int64', name='Time Stamp', length=14863575)

In [127]:
new.to_csv('target_data.csv')

In [128]:
new[
    new['target'] == 1
]

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success,test,target
time,,,,,,,,,,
725488,U1653@DOM1,U1653@DOM1,C17693,C395,NTLM,Network,LogOn,Success,U1653@DOM1 C17693 C395,1
725589,U1653@DOM1,U1653@DOM1,C17693,C2669,NTLM,Network,LogOn,Success,U1653@DOM1 C17693 C2669,1
725983,U293@DOM1,U293@DOM1,C17693,C3153,NTLM,Network,LogOn,Success,U293@DOM1 C17693 C3153,1
726008,U8946@DOM1,U8946@DOM1,C17693,C1610,NTLM,Network,LogOn,Success,U8946@DOM1 C17693 C1610,1
726057,U293@DOM1,U293@DOM1,C17693,C3153,NTLM,Network,LogOn,Success,U293@DOM1 C17693 C3153,1
...,...,...,...,...,...,...,...,...,...,...
767320,U7394@DOM1,U7394@DOM1,C17693,C1797,NTLM,Network,LogOn,Success,U7394@DOM1 C17693 C1797,1
767445,U4353@DOM1,U4353@DOM1,C17693,C801,NTLM,Network,LogOn,Success,U4353@DOM1 C17693 C801,1
767813,U66@DOM1,U66@DOM1,C17693,C2944,NTLM,Network,LogOn,Success,U66@DOM1 C17693 C2944,1
770138,U737@DOM1,U737@DOM1,C17693,C7597,NTLM,Network,LogOn,Success,U737@DOM1 C17693 C7597,1
771340,U9763@DOM1,U9763@DOM1,C17693,C353,NTLM,Network,LogOn,Success,U9763@DOM1 C17693 C353,1

In [132]:
new['source']

time
715589    ANONYMOUS LOGON@C457
715589    ANONYMOUS LOGON@C467
715589    ANONYMOUS LOGON@C586
715589    ANONYMOUS LOGON@C586
715589    ANONYMOUS LOGON@C586
                  ...
777813              U8857@DOM1
777813               U953@DOM1
777813              U9861@DOM1
777813               U996@DOM1
777813               U996@DOM1
Name: source, Length: 14863575, dtype: object

In [135]:
new['source'].values[0].split()

['ANONYMOUS', 'LOGON@C457']

In [136]:
test = new.copy()

In [137]:
test[['user', 'domain']] = df['source'].str.split('@', n=1, expand=True)

KeyboardInterrupt:

In [129]:
from lightgbm import LGBMClassifier

In [130]:
model = LGBMClassifier(
    boosting_type='rf',
    num_leaves=440,
    max_depth=21,
    n_estimators=100,
    min_child_samples=10,
    n_jobs=2,
    random_state=5
)

In [126]:
new['target'].value_counts()

0    14863370
1         205
Name: target, dtype: int64

In [ ]:
final_array = []
for i in target_array:
    if i in

In [78]:
target_array[0] in new['test'].values

True

In [ ]:
@jit
def get_me(input_array):
    final_array = []
    for i in input_array:

In [70]:
main

['ANONYMOUS LOGON@C1065 C1065 C1065',
 'ANONYMOUS LOGON@C457 C3110 C457',
 'ANONYMOUS LOGON@C457 C457 C457',
 'ANONYMOUS LOGON@C467 C467 C467',
 'ANONYMOUS LOGON@C586 C1083 C586',
 'ANONYMOUS LOGON@C586 C17192 C586',
 'ANONYMOUS LOGON@C586 C25347 C586',
 'ANONYMOUS LOGON@C586 C586 C586',
 'ANONYMOUS LOGON@C612 C612 C612',
 'C1009$@DOM1 C586 C586',
 'C101$@DOM1 C101 C467',
 'C101$@DOM1 C467 C467',
 'C10307$@DOM1 C10307 C3173',
 'C10349$@DOM1 C457 C457',
 'C1035$@DOM1 C1035 C467',
 'C1035$@DOM1 C467 C467',
 'C10632$@DOM1 C10632 C2106',
 'C1083$@DOM1 C1083 C586',
 'C10918$@DOM1 C467 C467',
 'C10944$@DOM1 C10944 C2106',
 'C1099$@DOM1 C457 C457',
 'C11103$@DOM1 C11103 C586',
 'C1114$@DOM1 C1115 C457',
 'C11149$@DOM1 C11149 C586',
 'C11149$@DOM1 C11149 C586',
 'C11149$@DOM1 C586 C586',
 'C1125$@DOM1 C2106 C2106',
 'C11292$@DOM1 C11292 C528',
 'C11344$@DOM1 C586 C586',
 'C11714$@DOM1 C586 C586',
 'C11829$@DOM1 C11829 C2106',
 'C12154$@DOM1 C12154 C3034',
 'C123$@DOM1 C527 C988',
 'C123$@DOM1 C528 C528',
 'C1234$@DOM1 C1234 C457',
 'C12609$@DOM1 C12609 C801',
 'C1261$@DOM1 C1261 C467',
 'C1261$@DOM1 C467 C467',
 'C1261$@DOM1 C528 C528',
 'C12796$@DOM1 C12796 C12796',
 'C12796$@DOM1 C12796 C529',
 'C13374$@DOM1 C25347 C586',
 'C13576$@DOM1 C13576 C457',
 'C13676$@DOM1 C24027 C24027',
 'C1387$@DOM1 C1387 C3173',
 'C14571$@DOM1 C14571 C1065',
 'C1477$@DOM1 C3173 C3173',
 'C14779$@DOM1 C14779 C528',
 'C14899$@DOM1 C14900 C2106',
 'C14899$@DOM1 C2106 C2106',
 'C15326$@DOM1 C15326 C625',
 'C15511$@DOM1 C586 C586',
 'C15680$@DOM1 C612 C612',
 'C1570$@DOM1 C1570 C1570',
 'C15707$@DOM1 C612 C612',
 'C1617$@DOM1 C101 C101',
 'C1617$@DOM1 C1618 C101',
 'C16241$@DOM1 C612 C612',
 'C1640$@DOM1 C2109 C528',
 'C16494$@DOM1 C16494 C801',
 'C16590$@DOM1 C2106 C2106',
 'C1710$@DOM1 C1710 C1710',
 'C17192$@DOM1 C17192 C528',
 'C17192$@DOM1 C17192 C586',
 'C17192$@DOM1 C528 C528',
 'C17192$@DOM1 C17192 C17192',
 'C17451$@DOM1 C706 C706',
 'C17521$@DOM1 C612 C612',
 'C1766$@DOM1 C528 C528',
 'C1766$@DOM1 C988 C988',
 'C177$@DOM1 C612 C612',
 'C1996$@DOM1 C1997 C1997',
 'C1996$@DOM1 C1997 C625',
 'C1996$@DOM1 C1997 C625',
 'C1996$@DOM1 C625 C625',
 'C2057$@DOM1 C2106 C2106',
 'C2073$@DOM1 C2074 C2074',
 'C2073$@DOM1 C2074 C457',
 'C2073$@DOM1 C2074 C457',
 'C2073$@DOM1 C457 C457',
 'C2179$@DOM1 C2180 C2180',
 'C2179$@DOM1 C2180 C457',
 'C2179$@DOM1 C2180 C457',
 'C2179$@DOM1 C457 C457',
 'C2230$@DOM1 C2230 C743',
 'C2275$@DOM1 C2276 C2276',
 'C2275$@DOM1 C2276 C457',
 'C2275$@DOM1 C2276 C457',
 'C2275$@DOM1 C457 C457',
 'C2284$@DOM1 C2106 C2106',
 'C2491$@DOM1 C2492 C2492',
 'C2491$@DOM1 C2492 C457',
 'C2491$@DOM1 C2492 C457',
 'C2491$@DOM1 C457 C457',
 'C2508$@DOM1 C2508 C467',
 'C2606$@DOM1 C2606 C467',
 'C2606$@DOM1 C2606 C586',
 'C2706$@DOM1 C586 C586',
 'C2823$@DOM1 C457 C457',
 'C3011$@DOM1 C3011 C2106',
 'C3245$@DOM1 C3245 C2106',
 'C3245$@DOM1 C3245 C457',
 'C3245$@DOM1 C3245 C612',
 'C3568$@DOM1 C3568 C612',
 'C3568$@DOM1 C612 C612',
 'C3644$@DOM1 C625 C625',
 'C365$@DOM1 C529 C529',
 'C3738$@DOM1 C528 C528',
 'C4133$@DOM1 C4133 C586',
 'C418$@DOM1 C1798 C418',
 'C418$@DOM1 C418 C1065',
 'C418$@DOM1 C418 C418',
 'C418$@DOM1 C418 C467',
 'C418$@DOM1 C418 C586',
 'C4245$@DOM1 C4246 C457',
 'C4245$@DOM1 C4246 C612',
 'C4245$@DOM1 C457 C457',
 'C425$@DOM1 C2106 C2106',
 'C4349$@DOM1 C4350 C612',
 'C4419$@DOM1 C612 C612',
 'C4442$@DOM1 C586 C586',
 'C4462$@DOM1 C457 C457',
 'C4557$@DOM1 C529 C529',
 'C4563$@DOM1 C612 C612',
 'C4601$@DOM1 C4601 C586',
 'C467$@DOM1 C467 C467',
 'C467$@DOM1 C467 C467',
 'C4690$@DOM1 C20455 C2106',
 'C480$@DOM1 C480 C528',
 'C480$@DOM1 C528 C528',
 'C482$@DOM1 C2106 C2106',
 'C4923$@DOM1 C457 C457',
 'C4962$@DOM1 C1065 C1065',
 'C523$@DOM1 C523 C104',
 'C523$@DOM1 C523 C599',
 'C538$@DOM1 C101 C101',
 'C538$@DOM1 C523 C523',
 'C538$@DOM1 C539 C101',
 'C538$@DOM1 C539 C523',
 'C538$@DOM1 C539 C553',
 'C538$@DOM1 C539 C988',
 'C538$@DOM1 C553 C553',
 'C538$@DOM1 C988 C988',
 'C553$@DOM1 C553 C586',
 'C553$@DOM1 C586 C586',
 'C567$@DOM1 C101 C101',
 'C567$@DOM1 C1085 C1085',
 'C567$@DOM1 C523 C523',
 'C567$@DOM1 C574 C101',
 'C567$@DOM1 C574 C1085',
 'C567$@DOM1 C574 C523',
 'C567$@DOM1 C574 C567',
 'C567$@DOM1 C574 C988',
 'C567$@DOM1 C988 C988',
 'C585$@DOM1 C585 C586',
 'C585$@DOM1 C586 C586',
 'C586$@DOM1 C586 C586',
 'C586$@DOM1 C586 C586',
 'C599$@DOM1 C101 C101',
 'C599$@DOM1 C1619 C101',
 'C612$@DOM1 C1798 C612',
 'C612$@DOM1 C612 C612',
 'C612$@DOM1 C612 C612',
 'C626$@DOM1 C586 C586',
 'C626$@DOM1 C626 C586',
 'C6404$@DOM1 C6404 C457',
 'C6495$@DOM1 C6495 C457',
 'C6602$@DOM1 C6602 C1065',
 'C6681$@DOM1 C457 C457',
 'C7129$@DOM1 C3173 C3173',
 'C7217$@DOM1 C7217 C529',
 'C7330$@DOM1 C457 C457',
 'C7330$@DOM1 C7330 C457',
 'C7330$@DOM1 C7330 C7330',
 'C7330$@DOM1 C7330 C7330',
 'C7330$@DOM1 C7330 C7330',
 'C7330$@DOM1 C7330 C7330',
 'C7330$@DOM1 C7330 C7330',
 'C743$@DOM1 C586 C586',
 'C743$@DOM1 C743 C586',
 'C7581$@DOM1 C2106 C2106',
 'C7940$@DOM1 C2106 C2106',
 'C7940$@DOM1 C7940 C2106',
 'C8100$@DOM1 C586 C586',
 'C8139$@DOM1 C801 C801',
 'C831$@DOM1 C586 C586',
 'C831$@DOM1 C831 C586',
 'C8397$@DOM1 C8398 C625',
 'C8410$@DOM1 C1065 C1065',
 'C8426$@DOM1 C8426 C8426',
 'C8446$@DOM1 C529 C529',
 'C854$@DOM1 C586 C586',
 'C8546$@DOM1 C612 C612',
 'C8719$@DOM1 C612 C612',
 'C8719$@DOM1 C8719 C1065',
 'C8719$@DOM1 C8719 C1640',
 'C8719$@DOM1 C8719 C457',
 'C8719$@DOM1 C8719 C457',
 'C8719$@DOM1 C8719 C612',
 'C8719$@DOM1 C8719 C612',
 'C8719$@DOM1 C8719 C8719',
 'C8719$@DOM1 C8719 C8719',
 'C8719$@DOM1 C8719 TGT',
 'C9099$@DOM1 C529 C529',
 'C9418$@DOM1 C2106 C2106',
 'C9529$@DOM1 C3173 C3173',
 'C9745$@DOM1 C9745 C2106',
 'C9999$@DOM1 C10000 C1065',
 'C9999$@DOM1 C10000 C457',
 'C9999$@DOM1 C10000 C625',
 'C9999$@DOM1 C1065 C1065',
 'NETWORK SERVICE@C2879 C2879 C2879',
 'U1132@DOM1 C1467 C528',
 'U113@DOM1 C1710 C1710',
 'U113@DOM1 C1710 C1710',
 'U113@DOM1 C1710 C1710',
 'U113@DOM1 C1710 C1710',
 'U113@DOM1 C1710 C1710',
 'U13@DOM1 C368 C368',
 'U13@DOM1 C368 C368',
 'U1484@DOM1 C12609 C801',
 'U1497@DOM1 C625 C625',
 'U1523@DOM1 C15572 C2327',
 'U1600@DOM1 C586 C586',
 'U162@DOM1 C3173 C3173',
 'U174@DOM1 C2767 C457',
 'U174@DOM1 C457 C457',
 'U2025@DOM1 C5094 C2327',
 'U205@C2625 C2625 C528',
 'U22@DOM1 C452 C529',
 'U22@DOM1 C529 C529',
 'U22@DOM1 C612 C612',
 'U22@DOM1 C965 C612',
 'U2348@DOM1 C3173 C3173',
 'U2384@DOM1 C743 C743',
 'U2540@DOM1 C3442 C612',
 'U2540@DOM1 C612 C612',
 'U2591@DOM1 C3173 C3173',
 'U278@DOM1 C816 C2327',
 'U2961@DOM1 C2106 C2106',
 'U2971@DOM1 C801 C801',
 'U3008@DOM1 C8257 C743',
 'U3378@DOM1 C1065 C1065',
 'U3378@DOM1 C586 C586',
 'U3378@DOM1 C7978 C1065',
 'U3378@DOM1 C7978 C1065',
 'U3378@DOM1 C7978 C457',
 'U3378@DOM1 C7978 C457',
 'U3378@DOM1 C7978 C467',
 'U3378@DOM1 C7978 C467',
 'U3378@DOM1 C7978 C586',
 'U3378@DOM1 C7978 C586',
 'U3378@DOM1 C7978 TGT',
 'U3383@DOM1 C9089 C3173',
 'U3466@DOM1 C2106 C2106',
 'U3512@DOM1 C612 C612',
 'U3615@DOM1 C467 C467',
 'U3615@DOM1 C9451 C467',
 'U3682@DOM1 C9441 C9441',
 'U3682@DOM1 C9441 C9441',
 'U3819@DOM1 C2106 C2106',
 'U3819@DOM1 C9745 C2106',
 'U3911@DOM1 C612 C612',
 'U3940@DOM1 C457 C457',
 'U3@DOM1 C419 C419',
 'U4034@DOM1 C10307 C3173',
 'U4202@DOM1 C10531 C743',
 'U4220@DOM1 C457 C457',
 'U4360@DOM1 C10997 C743',
 'U4473@DOM1 C10942 C529',
 'U4473@DOM1 C529 C529',
 'U4473@DOM1 C529 C529',
 'U4599@DOM1 C612 C612',
 'U4654@DOM1 C1065 C1065',
 'U4654@DOM1 C11262 C1065',
 'U4696@DOM1 C11459 C586',
 'U4696@DOM1 C11459 C586',
 'U4696@DOM1 C586 C586',
 'U4749@DOM1 C492 C492',
 'U5053@DOM1 C12154 C3034',
 'U5053@DOM1 C3034 C3034',
 'U5073@DOM1 C539 C538',
 'U5073@DOM1 C539 C539',
 'U5167@DOM1 C2106 C2106',
 'U53@DOM1 C1710 C1710',
 'U5556@DOM1 C13001 C13001',
 'U5556@DOM1 C13001 C13001',
 'U5575@DOM1 C13099 C743',
 'U5606@DOM1 C457 C457',
 'U5745@DOM1 C13166 C457',
 'U5745@DOM1 C457 C457',
 'U6003@DOM1 C743 C743',
 'U6073@DOM1 C529 C529',
 'U630@DOM1 C2731 C2731',
 'U6354@DOM1 C457 C457',
 'U6387@DOM1 C612 C612',
 'U6391@DOM1 C14435 C2327',
 'U6832@DOM1 C586 C586',
 'U6@DOM1 C1065 C1065',
 'U6@DOM1 C1183 C528',
 'U6@DOM1 C449 C1065',
 'U703@DOM1 C5578 C528',
 'U703@DOM1 C5578 C528',
 'U740@DOM1 C2106 C2106',
 'U7427@DOM1 C2106 C2106',
 'U7463@DOM1 C16291 C2327',
 'U7558@DOM1 C16494 C801',
 'U75@DOM1 C1710 C1710',
 'U75@DOM1 C1710 C1710',
 'U7727@DOM1 C16704 C2327',
 'U7727@DOM1 C16704 C467',
 'U7727@DOM1 C16704 C467',
 'U7727@DOM1 C467 C467',
 'U7834@DOM9 C291 C291',
 'U7927@DOM1 C2106 C2106',
 'U8044@DOM1 C17400 C743',
 'U8044@DOM1 C17400 C743',
 'U889@DOM1 C1065 C1065',
 'U922@DOM1 C612 C612',
 'ANONYMOUS LOGON@C15813 C15813 C15813',
 'ANONYMOUS LOGON@C15813 C5808 C15813',
 'ANONYMOUS LOGON@C457 C457 C457',
 'ANONYMOUS LOGON@C457 C6093 C457',
 'ANONYMOUS LOGON@C529 C529 C529',
 'ANONYMOUS LOGON@C529 C7102 C529',
 'ANONYMOUS LOGON@C586 C11398 C586',
 'ANONYMOUS LOGON@C586 C1442 C586',
 'ANONYMOUS LOGON@C586 C15552 C586',
 'ANONYMOUS LOGON@C586 C2514 C586',
 'ANONYMOUS LOGON@C586 C586 C586',
 'ANONYMOUS LOGON@C586 C7830 C586',
 'C10052$@DOM1 C10052 C2855',
 'C104$@DOM1 C101 C101',
 'C104$@DOM1 C105 C104',
 'C1114$@DOM1 C101 C101',
 'C1114$@DOM1 C1115 C101',
 'C11344$@DOM1 C11344 C2162',
 'C11398$@DOM1 C11398 C586',
 'C11525$@DOM1 C11525 C467',
 'C11661$@DOM1 C11661 C586',
 'C11815$@DOM1 C11815 C612',
 'C1261$@DOM1 C586 C586',
 'C1279$@DOM1 C1279 C586',
 'C1279$@DOM1 C586 C586',
 'C12796$@DOM1 C12796 C467',
 'C12796$@DOM1 C12796 C529',
 'C12796$@DOM1 C1798 C12796',
 'C12981$@DOM1 C529 C529',
 'C13275$@DOM1 C13275 C586',
 'C13356$@DOM1 C801 C801',
 'C13665$@DOM1 C13665 C612',
 'C13952$@DOM1 C529 C529',
 'C14064$@DOM1 C14064 C801',
 'C14216$@DOM1 C14216 C612',
 'C1445$@DOM1 C1445 C457',
 'C1487$@DOM1 C46 C46',
 'C15102$@DOM1 C586 C586',
 'C15457$@DOM1 C15457 C612',
 'C15552$@DOM1 C15552 C586',
 'C1557$@DOM1 C1065 C1065',
 'C15802$@DOM1 C612 C612',
 'C16528$@DOM1 C586 C586',
 'C17045$@DOM1 C457 C457',
 'C17548$@DOM1 C586 C586',
 'C17581$@DOM1 C17581 C457',
 'C17581$@DOM1 C457 C457',
 'C1766$@DOM1 C101 C101',
 'C1766$@DOM1 C1968 C101',
 'C1766$@DOM1 C1968 C553',
 'C1766$@DOM1 C523 C523',
 'C1766$@DOM1 C553 C553',
 'C1766$@DOM1 C612 C612',
 'C1794$@DOM1 C1795 C553',
 'C1794$@DOM1 C553 C553',
 'C18$@DOM1 C2162 C2162',
 'C1958$@DOM1 C586 C586',
 'C2025$@DOM1 C2367 C467',
 'C241$@DOM1 C241 C241',
 'C2508$@DOM1 C2508 C467',
 'C2508$@DOM1 C2508 C586',
 'C2508$@DOM1 C467 C467',
 'C2514$@DOM1 C2514 C586',
 'C2772$@DOM1 C586 C586',
 'C291$@DOM1 C291 C3758',
 'C291$@DOM1 C4832 C291',
 'C3011$@DOM1 C3011 C3011',
 'C3011$@DOM1 C3011 C612',
 'C3062$@DOM1 C1065 C1065',
 'C3245$@DOM1 C3245 C612',
 'C3245$@DOM1 C612 C612',
 'C3428$@DOM1 C3428 C3428',
 'C3629$@DOM1 C467 C467',
 'C3644$@DOM1 C467 C467',
 'C3767$@DOM1 C3767 C612',
 'C3828$@DOM1 C586 C586',
 'C418$@DOM1 C418 C467',
 'C418$@DOM1 C418 C586',
 'C418$@DOM1 C467 C467',
 'C418$@DOM1 C586 C586',
 'C4451$@DOM1 C457 C457',
 'C4513$@DOM1 C4513 C528',
 'C4513$@DOM1 C4513 TGT',
 'C4527$@DOM1 C1065 C1065',
 'C4550$@DOM1 C612 C612',
 'C4552$@DOM1 C467 C467',
 'C4583$@DOM1 C4583 C612',
 'C467$@DOM1 C467 C467',
 'C467$@DOM1 C467 C467',
 'C523$@DOM1 C523 C1114',
 'C538$@DOM1 C101 C101',
 'C538$@DOM1 C539 C101',
 'C553$@DOM1 C529 C529',
 'C553$@DOM1 C553 C529',
 'C553$@DOM1 C586 C586',
 'C567$@DOM1 C523 C523',
 'C585$@DOM1 C585 C586',
 'C585$@DOM1 C586 C586',
 'C586$@DOM1 C586 C586',
 'C586$@DOM1 C586 C586',
 'C599$@DOM1 C101 C101',
 'C599$@DOM1 C1619 C101',
 'C599$@DOM1 C1619 C1085',
 'C612$@DOM1 C612 C529',
 'C612$@DOM1 C612 C612',
 'C612$@DOM1 C612 C612',
 'C6244$@DOM1 C528 C528',
 'C743$@DOM1 C586 C586',
 'C743$@DOM1 C743 C586',
 'C7830$@DOM1 C7830 C586',
 'C801$@DOM1 C4816 C4816',
 'C804$@DOM1 C804 C2162',
 'C8058$@DOM1 C529 C529',
 'C8084$@DOM1 C8084 C457',
 'C8121$@DOM1 C8121 C1065',
 'C8446$@DOM1 C8446 C1065',
 'C855$@DOM1 C855 C1065',
 'C8719$@DOM1 C1065 C1065',
 'C8719$@DOM1 C1798 C8719',
 'C8719$@DOM1 C8719 C1065',
 'C8719$@DOM1 C8719 C457',
 'C8719$@DOM1 C8719 C8719',
 'C8719$@DOM1 C8719 C8719',
 'C889$@DOM1 C889 C467',
 'C9002$@DOM1 C467 C467',
 'C9002$@DOM1 C9002 C467',
 'C9441$@DOM1 C9441 C9441',
 'C984$@DOM1 C529 C529',
 'C9999$@DOM1 C10000 C529',
 'C9999$@DOM1 C10000 C9999',
 'C9999$@DOM1 C529 C529',
 'U1071@DOM1 C1210 C457',
 'U1073@DOM1 C11870 C467',
 'U1079@DOM1 C1619 C1619',
 'U1079@DOM1 C1619 C599',
 'U113@DOM1 C1710 C1710',
 'U1511@DOM1 C11661 C586',
 'U157@DOM1 C2162 C2162',
 'U205@C2625 C2625 C528',
 'U2230@DOM1 C6602 C585',
 'U2279@DOM1 C612 C612',
 'U22@DOM1 C452 C529',
 'U22@DOM1 C467 C467',
 'U22@DOM1 C529 C529',
 'U22@DOM1 C612 C612',
 'U22@DOM1 C965 C467',
 'U22@DOM1 C965 C612',
 'U2637@DOM1 C2162 C2162',
 'U2727@DOM1 C586 C586',
 'U2739@DOM1 C7550 C7550',
 'U2739@DOM1 C7550 C7550',
 'U3378@DOM1 C467 C467',
 'U3497@DOM1 C457 C457',
 'U3497@DOM1 C9127 C457',
 'U3682@DOM1 C9441 C9441',
 'U3682@DOM1 C9441 C9441',
 'U4029@DOM1 C10052 C2855',
 'U4169@DOM1 C10658 C529',
 'U4277@DOM1 C612 C612',
 'U4460@DOM1 C4154 C2162',
 'U4473@DOM1 C10942 C529',
 'U4473@DOM1 C10942 C529',
 'U4604@DOM1 C11352 C457',
 'U4617@DOM1 C17448 C449',
 'U4617@DOM1 C449 C449',
 'U4646@DOM1 C11292 C2327',
 'U4654@DOM1 C11262 C1065',
 'U4654@DOM1 C11262 C2327',
 'U4672@DOM1 C11344 C2162',
 'U4673@DOM1 C11192 C11192',
 'U4673@DOM1 C11192 C2327',
 'U4719@DOM1 C11451 C2438',
 'U4734@DOM1 C529 C529',
 'U4758@DOM1 C11654 C529',
 'U4780@DOM1 C17554 C528',
 'U48@DOM1 C419 C419',
 'U48@DOM1 C419 C419',
 'U5164@DOM1 C804 C2162',
 'U53@DOM1 C1710 C1710',
 'U5450@DOM1 C11486 C612',
 'U5450@DOM1 C612 C612',
 'U5606@DOM1 C612 C612',
 'U5621@DOM1 C801 C801',
 'U5938@DOM1 C457 C457',
 'U6151@DOM1 C14046 C457',
 'U6215@DOM1 C14064 C801',
 'U6324@DOM1 C612 C612',
 'U6@DOM1 C1065 C1065',
 'U6@DOM1 C449 C1065',
 'U703@DOM1 C5578 C528',
 'U7067@DOM1 C15586 C467',
 'U7067@DOM1 C467 C467',
 'U7727@DOM1 C16704 C2327',
 'U7727@DOM1 C16704 C467',
 'U7834@DOM1 C291 C291',
 'U7834@DOM1 C291 C3758',
 'U946@DOM1 C1332 C586',
 'U946@DOM1 C1332 TGT',
 'U94@DOM1 C7 C7',
 'U94@DOM1 C7 C7',
 'ANONYMOUS LOGON@C528 C528 C528',
 'ANONYMOUS LOGON@C586 C13078 C586',
 'ANONYMOUS LOGON@C586 C586 C586',
 'ANONYMOUS LOGON@C612 C612 C612',
 'C10342$@DOM1 C10342 C612',
 'C10342$@DOM1 C10342 C612',
 'C10342$@DOM1 C1065 C1065',
 'C10342$@DOM1 C612 C612',
 'C1035$@DOM1 C1035 C467',
 'C1035$@DOM1 C467 C467',
 'C11127$@DOM1 C11127 C625',
 'C1114$@DOM1 C1115 C1114',
 'C1114$@DOM1 C1115 C553',
 'C1114$@DOM1 C553 C553',
 'C11936$@DOM1 C11936 C625',
 'C1205$@DOM1 C528 C528',
 'C1205$@DOM1 C529 C529',
 'C123$@DOM1 C527 C988',
 'C12620$@DOM1 C625 C625',
 'C12642$@DOM1 C528 C528',
 'C12766$@DOM1 C528 C528',
 'C1279$@DOM1 C1279 C586',
 'C1283$@DOM1 C586 C586',
 'C13032$@DOM1 C528 C528',
 'C1306$@DOM1 C528 C528',
 'C13099$@DOM1 C586 C586',
 'C13352$@DOM1 C13352 C1015',
 'C13705$@DOM1 C13705 C528',
 'C1381$@DOM1 C1381 C625',
 'C14003$@DOM1 C14003 C457',
 'C14003$@DOM1 C457 C457',
 'C1445$@DOM1 C457 C457',
 'C14615$@DOM1 C625 C625',
 'C14967$@DOM1 C529 C529',
 'C15102$@DOM1 C801 C801',
 'C15172$@DOM1 C17619 C612',
 'C15405$@DOM1 C612 C612',
 'C15475$@DOM1 C15475 C3173',
 'C1554$@DOM1 C1554 C3173',
 'C15802$@DOM1 C612 C612',
 'C15821$@DOM1 C18184 C625',
 'C15841$@DOM1 C457 C457',
 'C15841$@DOM1 C528 C528',
 'C15987$@DOM1 C586 C586',
 'C16030$@DOM1 C16030 C528',
 'C16058$@DOM1 C586 C586',
 'C16144$@DOM1 C625 C625',
 'C1617$@DOM1 C101 C101',
 'C1617$@DOM1 C1618 C101',
 'C16418$@DOM1 C625 C625',
 'C1710$@DOM1 C1710 C467',
 'C17192$@DOM1 C528 C528',
 'C17192$@DOM1 C625 C625',
 'C17388$@DOM1 C25192 C528',
 'C17388$@DOM1 C528 C528',
 'C1766$@DOM1 C1085 C1085',
 'C1766$@DOM1 C1968 C101',
 'C1794$@DOM1 C1795 C988',
 'C1816$@DOM1 C1816 C1065',
 'C1816$@DOM1 C1816 C1065',
 'C1816$@DOM1 C1816 C1816',
 'C1881$@DOM1 C1065 C1065',
 'C2175$@DOM1 C2176 C2176',
 'C2175$@DOM1 C2176 C457',
 'C2175$@DOM1 C2176 C457',
 'C2175$@DOM1 C457 C457',
 'C2390$@DOM1 C586 C586',
 'C2651$@DOM1 C2651 C625',
 'C2651$@DOM1 C625 C625',
 'C291$@DOM1 C291 C457',
 'C291$@DOM1 C291 C529',
 'C291$@DOM1 C457 C457',
 'C291$@DOM1 C529 C529',
 'C3419$@DOM1 C3419 C529',
 'C345$@DOM1 C3173 C3173',
 'C3568$@DOM1 C3568 C612',
 'C3568$@DOM1 C612 C612',
 'C365$@DOM1 C1015 C1015',
 'C3657$@DOM1 C529 C529',
 'C426$@DOM1 C457 C457',
 'C4446$@DOM1 C4446 C457',
 'C4513$@DOM1 C4513 C528',
 'C4517$@DOM1 C4517 C467',
 'C4543$@DOM1 C4543 C467',
 'C4574$@DOM1 C457 C457',
 'C458$@DOM1 C458 C529',
 'C4657$@DOM1 C4657 C1065',
 'C4657$@DOM1 C4657 TGT',
 'C467$@DOM1 C1521 C467',
 'C467$@DOM1 C467 C467',
 'C467$@DOM1 C467 C467',
 'C4706$@DOM1 C4706 C467',
 'C4706$@DOM1 C4706 C4706',
 'C4767$@DOM1 C4767 C467',
 'C480$@DOM1 C480 C528',
 'C480$@DOM1 C528 C528',
 'C523$@DOM1 C523 C1766',
 'C523$@DOM1 C523 C625',
 'C538$@DOM1 C101 C101',
 'C538$@DOM1 C539 C101',
 'C5530$@DOM1 C528 C528',
 'C567$@DOM1 C101 C101',
 'C567$@DOM1 C574 C101',
 'C5744$@DOM1 C528 C528',
 'C5830$@DOM1 C5830 C586',
 'C585$@DOM1 C585 C586',
 'C585$@DOM1 C586 C586',
 'C599$@DOM1 C1619 C523',
 'C599$@DOM1 C523 C523',
 'C6005$@DOM1 C625 C625',
 'C612$@DOM1 C1798 C612',
 'C612$@DOM1 C612 C612',
 'C612$@DOM1 C612 C612',
 'C612$@DOM1 C612 C625',
 'C612$@DOM1 C625 C625',
 'C6253$@DOM1 C3173 C3173',
 'C649$@DOM1 C649 C467',
 'C6756$@DOM1 C625 C625',
 'C7358$@DOM1 C457 C457',
 'C743$@DOM1 C586 C586',
 'C743$@DOM1 C743 C586',
 'C7564$@DOM1 C625 C625',
 'C7564$@DOM1 C7564 C625',
 'C7697$@DOM1 C1521 C7697',
 'C7697$@DOM1 C7697 C7697',
 'C7980$@DOM1 C529 C529',
 'C8026$@DOM1 C625 C625',
 'C8068$@DOM1 C625 C625',
 'C827$@DOM1 C528 C528',
 'C8287$@DOM1 C3173 C3173',
 'C8629$@DOM1 C8629 C1065',
 'C8629$@DOM1 C8629 C467',
 'C8629$@DOM1 C8629 C8629',
 'C8719$@DOM1 C457 C457',
 'C8719$@DOM1 C612 C612',
 'C8719$@DOM1 C8719 C1065',
 'C8719$@DOM1 C8719 C1640',
 'C8719$@DOM1 C8719 C457',
 'C8719$@DOM1 C8719 C457',
 'C8719$@DOM1 C8719 C457',
 'C8719$@DOM1 C8719 C612',
 'C8719$@DOM1 C8719 C612',
 'C8719$@DOM1 C8719 C8719',
 'C8719$@DOM1 C8719 TGT',
 'C873$@DOM1 C1798 C873',
 'C873$@DOM1 C528 C528',
 'C873$@DOM1 C873 C1065',
 'C873$@DOM1 C873 C528',
 'C873$@DOM1 C873 C625',
 'C873$@DOM1 C873 C873',
 'C873$@DOM1 C873 C873',
 'C9107$@DOM1 C9107 C528',
 'C9473$@DOM1 C529 C529',
 'C9643$@DOM1 C3173 C3173',
 'C9855$@DOM1 C1065 C1065',
 'C988$@DOM1 C988 C1065',
 'C9999$@DOM1 C10000 C1065',
 'C9999$@DOM1 C10000 C457',
 'C9999$@DOM1 C457 C457',
 'LOCAL SERVICE@C11334 C11334 C11334',
 'U1073@DOM1 C11870 C528',
 'U1244@DOM1 C539 C538',
 'U1244@DOM1 C539 C539',
 'U1511@DOM1 C11661 C586',
 'U1511@DOM1 C11661 C586',
 'U1511@DOM1 C586 C586',
 'U1524@DOM1 C1581 C1581',
 'U1524@DOM1 C1581 C1581',
 'U155@DOM1 C1691 C1691',
 'U157@DOM1 C1691 C1691',
 'U15@DOM1 C2010 C2010',
 'U160@DOM1 C1691 C1691',
 'U1846@DOM1 C5919 C528',
 'U2088@DOM1 C801 C801',
 'U2255@DOM1 C1015 C1015',
 'U22@DOM1 C452 C529',
 'U22@DOM1 C529 C529',
 'U22@DOM1 C612 C612',
 'U22@DOM1 C849 C529',
 'U22@DOM1 C965 C612',
 'U2348@DOM1 C3173 C3173',
 'U2435@DOM1 C1065 C1065',
 'U2612@DOM1 C7375 TGT',
 'U2612@DOM1 C7375 U7',
 'U2673@DOM1 C7514 C467',
 'U2727@DOM1 C625 C625',
 'U2766@DOM1 C1015 C1015',
 'U2774@DOM1 C1065 C1065',
 'U2781@DOM1 C1065 C1065',
 'U2781@DOM1 C7352 C1065',
 'U27@DOM1 C616 C2742',
 'U2875@DOM1 C7687 C529',
 'U2982@DOM1 C8094 C586',
 'U3060@DOM1 C1065 C1065',
 'U3060@DOM9 C2057 C1640',
 'U3060@DOM9 C2057 C457',
 'U34@DOM1 C921 C921',
 'U34@DOM1 C921 C921',
 'U3501@DOM1 C7697 C7697',
 'U3501@DOM1 C7697 C7697',
 'U3660@DOM1 C9542 C457',
 'U3696@DOM1 C3173 C3173',
 'U4122@DOM1 C10177 C2327',
 'U4129@DOM1 C10585 C10585',
 'U4129@DOM1 C625 C625',
 'U41@DOM1 C1015 C1015',
 'U4202@DOM1 C10531 C457',
 'U4202@DOM1 C10531 TGT',
 'U4258@DOM1 C10741 C586',
 'U4258@DOM1 C586 C586',
 'U4277@DOM1 C1065 C1065',
 'U4277@DOM1 C612 C612',
 'U4371@DOM1 C10843 C586',
 'U4544@DOM1 C1015 C1015',
 'U4599@DOM1 C612 C612',
 'U4604@DOM1 C11352 C457',
 'U4604@DOM1 C457 C457',
 'U4719@DOM1 C2980 C2980',
 'U4827@DOM1 C11468 C2327',
 'U4827@DOM1 C11468 C528',
 'U4827@DOM1 C528 C528',
 'U483@DOM1 C1554 C3173',
 'U5113@DOM1 C1065 C1065',
 'U515@DOM1 C528 C528',
 'U5377@DOM1 C625 C625',
 'U5434@DOM1 C3173 C3173',
 'U5606@DOM1 C1165 C1065',

In [61]:
main_array = []
for i in df[['source', 'source_pc', 'dest_pc']].values:
    result = " ".join(i)
    main_array.append(result)
main_array

KeyboardInterrupt:

In [62]:
del main_array, i, result

In [38]:
target_tuple = tuple()
main_tuple = tuple()

In [42]:
values = []
for i in target.values:
    target_set = set(i)
    for main in df[['source', 'source_pc', 'dest_pc']].values:
        main_set = set(main)
        if target_set == main_set:
            values.append(1)
        else:
            values.append(0)

KeyboardInterrupt:

In [37]:
main_tuple = tuple()

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
time,,,,,,,,
1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success
1,C1035$@DOM1,C1035$@DOM1,C1035,C586,Kerberos,Network,LogOn,Success
1,C1035$@DOM1,C1035$@DOM1,C586,C586,?,Network,LogOff,Success
...,...,...,...,...,...,...,...,...
1044281,C586$@DOM1,C586$@DOM1,C586,C586,?,Network,LogOff,Success
1044281,C586$@DOM1,C586$@DOM1,C586,C586,Kerberos,Network,LogOn,Success
1044281,C599$@DOM1,C599$@DOM1,C1619,C523,Kerberos,Network,LogOn,Success
1044281,C599$@DOM1,C599$@DOM1,C523,C523,?,Network,LogOff,Success
1044281,C609$@DOM1,C609$@DOM1,C609,C528,Kerberos,Network,LogOn,Success

In [28]:
new = df.loc[target.index]

In [33]:
new_target = target.copy()
new_target = target.reset_index()
new_target

       time user_domain source_pc dest_pc
0    151036   U748@DOM1    C17693    C305
1    151648   U748@DOM1    C17693    C728
2    151993  U6115@DOM1    C17693   C1173
3    153792   U636@DOM1    C17693    C294
4    155219   U748@DOM1    C17693   C5693
..      ...         ...       ...     ...
295  770950    U66@DOM1    C17693    C742
296  771133  U7375@DOM1    C17693   C1626
297  771134  U4448@DOM1    C17693   C1555
298  771340  U9763@DOM1    C17693    C353
299  771380  U9763@DOM1    C17693   C1089

[300 rows x 4 columns]

In [34]:
new_target = new_target.set_index('source_pc')
new_target

             time user_domain dest_pc
source_pc
C17693     151036   U748@DOM1    C305
C17693     151648   U748@DOM1    C728
C17693     151993  U6115@DOM1   C1173
C17693     153792   U636@DOM1    C294
C17693     155219   U748@DOM1   C5693
...           ...         ...     ...
C17693     770950    U66@DOM1    C742
C17693     771133  U7375@DOM1   C1626
C17693     771134  U4448@DOM1   C1555
C17693     771340  U9763@DOM1    C353
C17693     771380  U9763@DOM1   C1089

[300 rows x 3 columns]

In [29]:
new

,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
time,,,,,,,,
151036,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success
151036,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success
151036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2729,C586,NTLM,Network,LogOn,Success
151036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
151036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C8843,C586,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...
771380,U9397@DOM1,U9397@DOM1,C19825,C528,Kerberos,Network,LogOn,Success
771380,U9397@DOM1,U9397@DOM1,C19825,C586,Kerberos,Network,LogOn,Success
771380,U9397@DOM1,U9397@DOM1,C528,C528,?,Network,LogOff,Success
771380,U9576@DOM1,U9576@DOM1,C20197,C3173,Kerberos,Network,LogOn,Success
771380,U9763@DOM1,U9763@DOM1,C17693,C1089,NTLM,Network,LogOn,Success

In [30]:
new_df = new.copy()

In [31]:
new_df = new_df.reset_index()
new_df

,time,source,dest,source_pc,dest_pc,auth_type,logon_type,auth_orient,Success
0,151036,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,C1065,?,Network,LogOff,Success
1,151036,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,C529,?,Network,LogOff,Success
2,151036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C2729,C586,NTLM,Network,LogOn,Success
3,151036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
4,151036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C8843,C586,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...,...
68010,771380,U9397@DOM1,U9397@DOM1,C19825,C528,Kerberos,Network,LogOn,Success
68011,771380,U9397@DOM1,U9397@DOM1,C19825,C586,Kerberos,Network,LogOn,Success
68012,771380,U9397@DOM1,U9397@DOM1,C528,C528,?,Network,LogOff,Success
68013,771380,U9576@DOM1,U9576@DOM1,C20197,C3173,Kerberos,Network,LogOn,Success
68014,771380,U9763@DOM1,U9763@DOM1,C17693,C1089,NTLM,Network,LogOn,Success

In [32]:
new_df = new_df.set_index('source_pc')
new_df

,time,source,dest,dest_pc,auth_type,logon_type,auth_orient,Success
source_pc,,,,,,,,
C1065,151036,ANONYMOUS LOGON@C1065,ANONYMOUS LOGON@C1065,C1065,?,Network,LogOff,Success
C529,151036,ANONYMOUS LOGON@C529,ANONYMOUS LOGON@C529,C529,?,Network,LogOff,Success
C2729,151036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,NTLM,Network,LogOn,Success
C586,151036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,?,Network,LogOff,Success
C8843,151036,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...
C19825,771380,U9397@DOM1,U9397@DOM1,C528,Kerberos,Network,LogOn,Success
C19825,771380,U9397@DOM1,U9397@DOM1,C586,Kerberos,Network,LogOn,Success
C528,771380,U9397@DOM1,U9397@DOM1,C528,?,Network,LogOff,Success
C20197,771380,U9576@DOM1,U9576@DOM1,C3173,Kerberos,Network,LogOn,Success
C17693,771380,U9763@DOM1,U9763@DOM1,C1089,NTLM,Network,LogOn,Success

In [35]:
new_df.loc[new_target.index]

,time,source,dest,dest_pc,auth_type,logon_type,auth_orient,Success
source_pc,,,,,,,,
C17693,151036,U748@DOM1,U748@DOM1,C305,NTLM,Network,LogOn,Success
C17693,151648,U748@DOM1,U748@DOM1,C728,NTLM,Network,LogOn,Success
C17693,151993,U6115@DOM1,U6115@DOM1,C1173,NTLM,Network,LogOn,Success
C17693,153792,U636@DOM1,U636@DOM1,C294,NTLM,Network,LogOn,Success
C17693,155219,U748@DOM1,U748@DOM1,C5693,NTLM,Network,LogOn,Success
...,...,...,...,...,...,...,...,...
C17693,770950,U66@DOM1,U66@DOM1,C742,NTLM,Network,LogOn,Success
C17693,771133,U7375@DOM1,U7375@DOM1,C1626,NTLM,Network,LogOn,Success
C17693,771134,U4448@DOM1,U4448@DOM1,C1555,NTLM,Network,LogOn,Success
C17693,771340,U9763@DOM1,U9763@DOM1,C353,NTLM,Network,LogOn,Success
C17693,771380,U9763@DOM1,U9763@DOM1,C1089,NTLM,Network,LogOn,Success

In [36]:
target

       user_domain source_pc dest_pc
time
151036   U748@DOM1    C17693    C305
151648   U748@DOM1    C17693    C728
151993  U6115@DOM1    C17693   C1173
153792   U636@DOM1    C17693    C294
155219   U748@DOM1    C17693   C5693
...            ...       ...     ...
770950    U66@DOM1    C17693    C742
771133  U7375@DOM1    C17693   C1626
771134  U4448@DOM1    C17693   C1555
771340  U9763@DOM1    C17693    C353
771380  U9763@DOM1    C17693   C1089

[300 rows x 3 columns]

In [ ]:
items = []
for i in new['source_pc'].values:
    for n in target['source_pc'].values:
        if i == n:
            items.append()

In [ ]:
new

In [6]:
del red 
del df
# del chunks
# del chunk

NameError: name 'red' is not defined

In [6]:
del chunks
del chunk